@{
    ViewBag.Title = "Add Employee";
}

<div class="page-content fade-in-up" ng-controller="childController">
    <div class="row">
        <div class="col-md-6">

            <div class="ibox">
                <div class="ibox-head">

                    <div style="flex:2;order:1;">
                        <h3> @ViewBag.Title </h3>
                    </div>

                    <div style="flex:1;order:2;">
                        <a href='@Url.Action("Index")' class="btn btn-dark pull-right"> Back </a>
                    </div>

                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">

                                    <form name="addform" ng-submit="saveData()" novalidate="novalidate" autocomplete="off">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Department<span class="text-danger">*</span></label>
                                                        @Html.DropDownList("DepartmentId", ViewBag.Departments as SelectList, "--Select Department--", new { @class = "form-control", ng_model = "objAdd.DepartmentId", @required= "required" })
                                                        <span class="has-error" ng-show="(addform.DepartmentId.$touched || addform.$submitted) && addform.DepartmentId.$invalid">
                                                            <span class="help-block">Department is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6"> <br /><br />
                                                        <div class="form-group">
                                                            <label class="checkbox">
                                                                <input type="checkbox" class="form-control" name="IsActive" ng-model="objAdd.IsActive" />
                                                                <span class="input-span"></span>Is Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">First Name<span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" name="FirstName" ng-model="objAdd.FirstName" maxlength="100" required />
                                                        <span class="has-error" ng-show="(addform.FirstName.$touched || addform.$submitted) && addform.FirstName.$invalid">
                                                            <span class="help-block">First name is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Last Name</label>
                                                        <input type="text" class="form-control" name="LastName" ng-model="objAdd.LastName" maxlength="100" />
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Email Id<span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control" name="Email" ng-model="objAdd.Email" maxlength="100" required />
                                                        <span class="has-error" ng-show="(addform.Email.$touched || addform.$submitted)">
                                                            <span class="help-block" ng-show="addform.Email.$error.required">Email is required.</span>
                                                            <span class="help-block" ng-show="addform.Email.$error.email">Invalid email id.</span>
                                                        </span>
                                                    </div>

                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Mobile No<span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" name="Mobile" ng-model="objAdd.Mobile" maxlength="10" required numbers-only/>
                                                        <span class="has-error" ng-show="(addform.Mobile.$touched || addform.$submitted)">
                                                            <span class="help-block" ng-show="addform.Mobile.$error.required">Email is required.</span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">DOB</label>
                                                        <div class="input-group date">
                                                            <input type="text" class="form-control" name="DOB" ng-model="objAdd.DOB" maxlength="50" />
                                                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Gender</label> <br />
                                                        <label><input type="radio" name="Gender" value="Male" ng-model="objAdd.Gender" /> Male</label>
                                                        <label><input type="radio" name="Gender" value="Female" ng-model="objAdd.Gender" /> Female</label>
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">City</label>
                                                        <input type="text" class="form-control" name="City" ng-model="objAdd.City" maxlength="100" />
                                                    </div>
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">ZipCode</label>
                                                        <input type="text" class="form-control" name="ZipCode" ng-model="objAdd.ZipCode" maxlength="6"  numbers-only/>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">Country<span class="text-danger">*</span></label>
                                                        @Html.DropDownList("Country", ViewBag.Countries as SelectList, "--Select Country--", new { @class = "form-control", @ng_change = "getStates()", ng_model = "objAdd.Country", @required = "required" })
                                                        <span class="has-error" ng-show="(addform.Country.$touched || addform.$submitted) && addform.Country.$invalid">
                                                            <span class="help-block">Country is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6">
                                                        <label class="fs-12 fw-600">State</label>
                                                        <select class="form-control" name="State" ng-model="objAdd.State">
                                                            <option value="">--Select State--</option>
                                                            <option ng-repeat="s in states track by $index" ng-value="s.Title">{{s.Title}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                

                                                <div class="row form-group">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label class="fs-12 fw-600">Address</label>
                                                        <textarea class="form-control" name="Address" ng-model="objAdd.Address" maxlength="2000"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                         
                                        <div class="row form-group">
                                            <div class="col-sm-8">

                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <a href='@Url.Action("Index")' class="btn btn-dark"> Back </a>
                                                <button type="submit" class="btn btn-primary btn-v1 mt-8 inline-block" tabindex="4">Save</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>
    app.controller("childController", function ($scope, $http) {
        $scope.objAdd = { Country: null, State: null };
        $scope.states = [];

        $scope.getStates = function () {
            $scope.states = [];
            if ($scope.objAdd.Country) {
                isLoading(true);
                $http.get('@Url.Action("GetState", "Master")?countryname=' + $scope.objAdd.Country).then(function (res) {
                    isLoading(false);
                    if (res.data.IsSuccess) {
                        $scope.states = res.data.Data;
                    } else {
                        toastr.error('Failed to get data. Please try again!', '', { timeOut: 5000 });
                    }
                }, function (error) {
                    
                    isLoading(false);
                    toastr.error('Failed to get data. Please try again!', '', { timeOut: 5000 })
                });
            } 
        }

       $scope.saveData = function () {
           if ($scope.addform.$valid) {
               isLoading(true);
               $http.post('@Url.Action("SaveData", "AEmployee")', $scope.objAdd).then(function (res) {
                   isLoading(false);
                   if (res.data.IsSuccess) {
                       toastr.success('Record updated successfully!', '', { timeOut: 5000 });
                       window.location.href = '@Url.Action("Index","AEmployee")';
                   }
                   else {
                       toastr.error('Failed to insert data. Please try again!', '', { timeOut: 5000 });
                   }
               }, function (error) {
                   isLoading(false);
                   toastr.error('Failed to insert data. Please try again!', '', { timeOut: 5000 })
               });
           }
        }  

    });
    </script>

    <script>
        $(function () {
            $('.date').datepicker({
                format: "dd-M-yyyy"
            });
        });
    </script>
}
